
/*info for grid*/
/*https://www.youtube.com/watch?v=705XCEruZFs*/

.card{
   text-align: center;
   background-color: var(--primary-color-red);
   color: var(--primary-color-white);
}

.displayGrid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
