/*inspiratie thumbnail: https://www.thehotel-brussels.be/nl*/
body{
    background-image: url("../image/foto's startpagina/hall-entrance-and-lounge-restaurant-with-stair.jpg");
    background-repeat: no-repeat;
    
    background-color:var(--primary-color-white);
}


h1{
    color: var(--primary-color-white);
    width: 100%;
}

span{
    display: block;
    color: var(--primary-color-red);
    width: 100%;
}



.buttons{
    width: 100%;
    margin: auto;
    display: flex;
    height: 100%;
}

.buttons button{
    
    display: block;
    margin: auto;
}

#buttonBookRoom{
    background-color: var(--primary-color-dark-transparent);
    color: var(--primary-color-white);
}

#buttonCheckWeather{
    
    background-color: var(--primary-color-white-transparent);
    color: var(--primary-color-dark);
}

#buttonBookRoom:hover{
    background-color: var(--primary-color-white-transparent);
    color: var(--primary-color-dark);
    cursor: pointer;
}

#buttonCheckWeather:hover{
    background-color: var(--primary-color-dark-transparent);
    color: var(--primary-color-white);
    cursor: pointer;
}

/*Google maps*/
#map {
  height: 80%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/*making the grid*/

.card{
    text-align: center;
    background-color: var(--primary-color-white-transparent);
    color: var(--primary-color-dark);
    margin: auto;
    margin-bottom: 10px;
 }
 
 .displayGrid{
     display: grid;
     gap: 1rem;
 }

 .card h2{
    height: 20%;
    width: 100%;
    color: var(--primary-color-dark-transparent);
    background-color:var(--primary-color-white) ;
    padding-top: 10px;
 }

 .imgCard{
     width: 100%;
     height: 80%;
     overflow: hidden;
 }

/*template voor responsive*/
/*styling groot toestel*/
@media only screen and (min-width: 1025px){
    
    h1{
        font-size: 6em;
        padding-left: 100px;
    }

    span{
        font-size: 3em;
        padding-left: 50px;
    }
    

    .thumbnail{
        width: 80vw;
        height: 35vw;
        margin: auto;
    }

    .buttons button{
        width: 30vw;
        height: 8vw;
        max-width: 300px;
        max-height: 80px;
    }

    .displayGrid{
        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    }

    .card{
        min-width: 250px;
        min-height: 250px;
        width: 25vw;
        height: 25vw;
     }

    
    
}

/*styling middel toestel*/
@media only screen and (max-width: 1024px) and (min-width: 768px){
    
    h1{
        font-size: 4em;
        padding-left: 100px;
    }

    span{
        font-size: 2em;
        padding-left: 50px;
    }


    .thumbnail{
        width: 80vw;
        height: 50vw;
        margin: auto;
    }

    .buttons button{
        width: 30vh;
        height: 8vh;
        min-width: 100px;
        min-height: 30px;
    }

    .displayGrid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .card{
        min-width: 250px;
        min-height: 250px;
        width: 25vw;
        height: 25vw;
     }
}

/*styling klein toestel*/

@media only screen and (max-width: 767px){
    

    h1{
        font-size: 3em;
        padding-left: 15%;
    }
    
    .thumbnail{
        width: 90vw;
        height: 70vh;
        margin: auto;
    }

    .buttons button{
        width: 30vw;
        height: 8vw;
        min-width: 120px;
        min-height: 40px;
    }
    .displayGrid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .card{
        min-width: 250px;
        min-height: 250px;
        width: 25vw;
        height: 25vw;
     }


}



