/*inspiratie thumbnail: https://www.thehotel-brussels.be/nl*/
body{
    background-image: url("../image/foto's startpagina/stock-photo-modern-lobby-interior-in-night-illumination-pattaya-thailand-69108385.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

h1{
    color: var(--primary-color-white);
    width: 100%;
}

span{
    display: block;
    color: var(--primary-color-white);
    width: 100%;
}



.buttons{
    width: 100%;
    margin: auto;
    display: flex;
    height: 50%;
}

.buttons button{
    
    display: block;
    margin: auto;
}

#centerDivThumbnail{
    
    width: 100%;
    height: 50%;
}

#buttonBookRoom{
    background-color: var(--primary-color-white-transparent);
    color: var(--primary-color-dark);
}

#buttonCheckWeather{
    background-color: var(--primary-color-dark-transparent);
    color: var(--primary-color-white);
}

#buttonBookRoom:hover{
    background-color: var(--primary-color-dark-transparent);
    color: var(--primary-color-white);
    cursor: pointer;
}

#buttonCheckWeather:hover{
    background-color: var(--primary-color-white-transparent);
    color: var(--primary-color-dark);
    cursor: pointer;
}

/*template voor responsive*/
/*styling groot toestel*/
@media only screen and (min-width: 1023px){

    
    h1{
        font-size: 6em;
        padding-left: 100px;
    }

    span{
        font-size: 3em;
        padding-left: 50px;
    }
    

    .thumbnail{
        width: 80vw;
        height: 50vw;
        margin: auto;
    }

    .buttons button{
        width: 18vw;
        height: 3vw;
        font-size: 1.5em;
    }

    #centerDivThumbnail{
        padding-top: 18vh;
    }

}

/*styling middel toestel*/
@media only screen and (max-width: 1024px) and (min-width: 768px){

    h1{
        font-size: 4em;
        padding-left: 100px;
    }

    span{
        font-size: 2em;
        padding-left: 50px;
    }

    #centerDivThumbnail{
        padding-top: 10vh;
    }

    .thumbnail{
        width: 80vw;
        height: 50vw;
        margin: auto;
    }

    .buttons button{
        width: 10vh;
        height: 5vh;
    }
}

/*styling klein toestel*/

@media only screen and (max-width: 767px){
    h1{
        font-size: 3em;
        padding-left: 15%;
    }

    #centerDivThumbnail span{
        font-size: 1.5em;
        padding-left: 22%;
    }

    #centerDivThumbnail{
        padding-top: 20vh;
    }
    
    .thumbnail{
        width: 90vw;
        height: 70vh;
        margin: auto;
    }

    .buttons button{
        width: 30vw;
        height: 8vw;
    }
}



