/*non-responsive styling*/
/*algemeen*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}
:root{
    --primary-color-dark: #0f1628;
    --primary-color-white:#f5f5f5;
    --primary-color-red: #FF533D;
    --primary-color-red-transparent: rgba(255,83,61,0.8);
    --primary-color-white-transparent: rgba(245,245,245,0.6);
    --primary-color-dark-transparent: rgba(15,22,40,0.8);
}
body{
    
    background-color: var(--primary-color-white);
    width: 100vw;
    min-height: 100vh;
}

footer{
    position: absolute;
    bottom:0;
}

/*template voor responsive*/
/*styling groot toestel*/
@media only screen and (min-width: 1024px){
    
}

/*styling middel toestel*/
@media only screen and (max-width: 1024px) and (min-width: 768px){
    
}

/*styling klein toestel*/

@media only screen and (max-width: 768px){
   
}