main{
    
    display: flex;
}

body{
    background-image: url(../image/imageRooms/room.jpg);
    background-size: cover, contain;
    background-repeat: no-repeat;
}

#booking-side{
    
    left: 0;
    
    background-color: var(--primary-color-white-transparent);
}

#overviewRooms{
    right: 0;
    padding: 2rem;
}

span.fa{
    font-size: 2rem;
    float: right;
    font-size: 2.5rem;
    margin-top: 0.3rem;
}

.form-control{
    width: 80%;
    height: 3rem;
    
}

.stay button{
    height: 3rem;
    width: 80%;
    margin-top: 2.5rem;
}

.stay div h4{
    font-size:  1.2rem;
    height: 2rem;
    
}

.fastbooker{
    background-color: var(--primary-color-white);
    
}

/*styling groot toestel*/
@media only screen and (min-width: 1025px){
    #booking-side{
        position: absolute;
        top: 8rem;
        width: 30vw;
        width: 30vw;
        padding: 3rem;
        
        }

        #overviewRooms{
            position: absolute;
            right: 0;
            top: 8rem;
            width: 70vw;
            }
            .fastbooker{
                background-color: var(--primary-color-white);
                padding: 3rem;
            }
}

/*styling middel toestel*/
@media only screen and (max-width: 1024px) and (min-width: 768px){
    #booking-side{
        position: absolute;
        width: 30vw;
        padding: 3rem;
        
        }

        .fastbooker{
            padding: 1.5rem;
        }

        #overviewRooms{
            position: absolute;
            right: 0;
            top: 8rem;
            width: 70vw;
            }
}

/*styling klein toestel*/

@media only screen and (max-width: 767px){
    main{
        display: inline-block;
    }
    #booking-side{
        top: 5rem;
        height: 70%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

    .fastbooker{
        width: 100%;
    }
    .fastbooker .search-side h2{
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }

    .search-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stay{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .stay div{
        margin: 0.3rem;
        width: 90%;
    }
    .form-control{
        width: 80%;
        height: 3rem;
        
    }
    
    span.fa{
        font-size: 2rem;
        float: right;
        font-size: 2.5rem;
        margin-top: 0.3rem;
    }

    .fastbooker{
        background-color: var(--primary-color-white-transparent);
        padding: 3rem;
    }
    
}